.group-header {
    display: flex;
    justify-content: space-between;

    input {
        width: 100%;
        padding: 5px;
        border: none;
        outline: none;
        background: transparent;
        &:hover {
            background-color: rgba(9, 30, 66, 0.08);
            color: #172b4d;
            cursor: pointer;
        }
    }
    
    .modalHeader {
        @include modalHeader;
    }
    .group-menu {
        padding: 0 15px;
        position: absolute;
        z-index: 2;
        width: 280px;
        // height: 250px;
        border-radius: 5px;
        box-shadow: 0 0px 3px 2px #7e7d7d78;
        background-color: #fff;
    }
    .menu-options {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li:hover{
        // background-color: rgba(0,0,0,.2);
        color: $clr1;
        border-radius: .0625rem;
    }
    li/* :not(:last-of-type) */ {
        margin-bottom: 10px;
    }
}
.b{ 

    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin:2px;
    box-shadow: 0 0px 3px 2px #7e7d7d78;
    display:GRIDex;
    flex-direction: column;
}
.colors-container{
    padding: 20px 10px;
    border-radius: 3px;
    background-color: hsla(0,0%,60%,.10980392156862745);
    display: grid;
    grid-template-columns: repeat(8,1fr);
    width: 100%;
    grid-gap: 7px;
}

