.boardApp-main {
    display: flex;
    flex-direction: column;
    margin-inline: 10px;
    box-shadow: 0 0px 3px 2px #7e7d7d78;
    margin-top: 20px;
    padding-inline: 20px;

 
    .boards-container {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        // justify-items: center;
        border-radius: 2px;
        padding: 15px 0px;
        & :hover {
            transform: scale(1.025);
            box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 2px 15px #000033;
        }

    }
    .single-board-preview,
    .add-new-board-closed {
        height: 120px;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.089);
        background-image: linear-gradient(rgb(150, 169, 194), rgb(222, 233, 238));
    }
}

