.groups-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    justify-items: center;
    box-shadow: 0 0px 3px 2px #7e7d7d78;
    border-radius: 10px;
    margin: 10px 20px;
    padding: 15px 0px;
    .group-preview {
        box-shadow: 0 0px 3px 2px #7e7d7d78;
        padding: 5px 10px;
        border-radius: 5px;
        border: 2px solid transparent;
        transition: 0.3s;
        text-align: center;
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .group-header {
        display: flex;
        justify-content: space-between;
    }
}
