* {
    box-sizing: border-box;
}

// ::selection {
//     background-color: $clr1;
//     color: #fff;
// }

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: rem(18px);
    color: $clr0;
    line-height: 1.6;
}

body {
    margin: 0;
    background-color: $clr5;
}

img {
    width: 100%;
}

input {
    margin: 0;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 1;
    margin: 0 0 0 0;
}

p {
    margin: 0 0 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    text-align: left;
}
