.btn {
    &:hover {
        cursor: pointer;
    }
}

.primary-btn {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
    padding: 6px 12px;
    text-decoration: none;
    background-color: rgba(9, 30, 66, 0.04);
    box-shadow: none;
    border: none;
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 85ms;
    transition-timing-function: ease;
    background-color: #0079bf;
    box-shadow: none;
    border: none;
    color: #fff;
    font-family: Poppings, "Segoe UI", sans-serif;
    &:hover {
        background-color: #026aa7;
    }
    &.menu-btn {
        margin-right: 10px;
    }
}

.secondary-btn {
    box-sizing: border-box;
    -webkit-appearance: none;
    border-radius: 3px;
    border: none;
    display: inline-block;
    line-height: 20px;
    margin-bottom: 8px;
    padding: 6px 12px;
    text-decoration: none;
    position: relative;
    font-family: Poppings, "Segoe UI", sans-serif;
    &:hover {
        background-color: rgba(9, 30, 66, 0.08);
    }
}

.button-link {
    background-color: rgba(9, 30, 66, 0.04);
    box-shadow: none;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 32px;
    margin-top: 8px;
    max-width: 300px;
    overflow: hidden;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
    transition-property: background-color, border-color, box-shadow;
    transition-duration: 85ms;
    transition-timing-function: ease;
    font-family: Poppings, "Segoe UI", sans-serif;
    &:hover {
        background-color: rgba(9, 30, 66, 0.08);
    }
}
<<<<<<< HEAD


=======
>>>>>>> 0c02720a3014c9696c48c9025f474296ddb739aa
