// Colors
$clr0: #222831;
$clr1: #D20C5F;
$clr2: #b1d3dd;;
$clr3: #95adbe;
$clr4: #e2e0e0;
$clr5: #fff;

$clr6: #0079BF;
$clr7: #D29034;
$clr8: #519839;
$clr9: #B04632;
$clr10: #89609E;
$clr11: #CD5A91;
$clr12: #4BBF6B;
$clr13: #00AECC;
$clr14: #838C91;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;